<!-- <link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/bootstrap.css"> -->
<!-- <style>
    body {
        min-height: 100vh !important;
        display: flex !important;
        flex-direction: column !important;
    }

    .footer {
        margin-top: auto !important;
    }
</style> -->

<section class="Order-Placed">
    <div class="container">
        <div class="order-block">
            <div class="col-lg-3 col-6 order-card" style="
                text-align: center;
                border-left: 6px solid green !important;
                margin-top: 50px !important;
                box-shadow: 2px 2px 5px #8080807a;
                margin-bottom: 50px !important; margin: auto;
            ">
                <div class="order-icon" style="
                    margin: 10px;
                    font-size: 85px;
                    color: #0ba50b;
                ">
                    <i class="bi bi-bag-check-fill"></i>
                </div>

                <div class="order-text" style="
                    font-weight: bold;
                    font-family: serif;
                    font-size: x-large;
                ">
                    <div class="col-lg-12 col-12">
                        <div class="inside-order">
                            <p style="
                               font-size: 16px;
                               color: gray;
                           "> THANKYOU FOR PLACING ORDER </p>
                        </div>
                        <button class="order-home" style="
                                background: #0ca80c;     border: none;
    box-shadow: 2px 2px 5px #808080c2;
                            ">
                            <a href="/"
                                style="text-decoration: none; color: white; font-size: 15px; vertical-align: text-bottom;border: none;">
                                ORDER AGAIN
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>