<section class="team">

    <section class="header-image">
        <div class="text-image">
            <div class="container">
                <div class="hero-text">
                    <div class="col-lg-12" style="text-align: center; color: rgb(167, 102, 102);">
                        <div class="text-box">
                            <h4><b>Who we are</b></h4>
                            <p>Designers, Thinkers & <span style="color: white;">Collaborators</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mentor">
        <div class="container">

            <h3 style="
        TEXT-ALIGN: center;
        margin-top: 30px;
        margin-bottom: 30px;
    ">MENTORS</h3>


            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="shadow p-3 mb-5 bg-white rounded" style="height: 400px;">
                        <div class="image">
                            <center>
                                <img src="/images/mohit.jpg" alt="#" style="display: block; border-radius: 50%;">
                            </center>
                        </div>
                        <div class=" content" style="text-align:center">
                            <br>
                            <h6>Dr. Mohit Agarawal</h6>
                            <h8><i>Assistant Professor</i></h8>
                            <p><i>Microelctronics, Thin film Fabrication and Characterization</i></p>
                        </div>
                        <div class="social_media">
                            <center>
                                <a href="https://www.thapar.edu/faculties/view/Dr.-Mohit-Agarwal/Mjc4/MTU="
                                    class="team_twitter">
                                    <i class="bi bi-envelope"></i>
                                </a>
                            </center>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-12">
                    <div class="shadow p-3 mb-5 bg-white rounded" style="height: 400px;">
                        <div class="image">
                            <center>
                                <img src="/images/amit.jpg" alt="#" style="display: block; border-radius: 50%;">
                            </center>
                        </div>
                        <div class=" content" style="text-align:center">
                            <br>
                            <h6>Dr. Amit Munjal</h6>
                            <h8><i>Assistant Professor</i></h8>
                            <p><i>MANETs, WSN, Complex Networks</i></p>
                        </div>
                        <div class="social_media">
                            <center>
                                <a href="https://www.thapar.edu/faculties/view/Dr.-Amit-Munjal/Mjc3/MTU="
                                    class="team_mail">
                                    <i class="bi bi-envelope"></i>
                                </a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="Our-team">
        <div class="container">
            <h3 style="
        text-align: center;
    ">TEAM MEMBERS</h3>
            <div class="row" style="margin-bottom: 40px; margin-top: 40px;">

                <div class="col-lg-3">
                    <center>
                        <img src="/images/black-Akhil.jpg" alt=""
                            style="border-radius: 50%; display: block; height: 200px;">
                    </center>
                </div>
                <div class="col-lg-9">
                    <p><b style="font-size: larger; color: #194979;">Akhil Goyal</b>
                        <br>
                        <span style="font-size: 15px;color: gray; font-weight: 600;">Member</span>
                        <br>
                        <a href="" class="" style="color: #194979;">
                            <i class="bi bi-linkedin"></i> </a>
                    </p>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id voluptatibus quam accusantium
                    saepe laboriosam fugiat animi magnam, amet ratione nostrum, ab vero sapiente aspernatur
                    autem quod modi? Quam, similique facilis!

                </div>

            </div>
            <div class="row" style="margin-bottom: 40px; margin-top: 40px;">

                <div class="col-lg-3">
                    <center>
                        <img src="/images/rushu1.jpg" alt="" style="border-radius: 50%; display: block; height: 200px">
                    </center>
                </div>
                <div class="col-lg-9">
                    <p><b style="font-size: larger; color: #194979;">Aarushi</b>
                        <br>
                        <span style="font-size: 15px;color: gray; font-weight: 600;">Member</span>
                        <br>
                        <a href="" class="" style="color: #194979;">
                            <i class="bi bi-linkedin"></i> </a>
                    </p>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id voluptatibus quam accusantium
                    saepe laboriosam fugiat animi magnam, amet ratione nostrum, ab vero sapiente aspernatur
                    autem quod modi? Quam, similique facilis!

                </div>

            </div>
            <div class="row" style="margin-bottom: 40px; margin-top: 40px;">

                <div class="col-lg-3">
                    <center>
                        <img src="/images/harshit.jpg" alt="" style="border-radius: 50%; display: block; height: 200px">
                    </center>
                </div>
                <div class="col-lg-9">
                    <p><b style="font-size: larger; color: #194979;">Harshit Sah</b>
                        <br>
                        <span style="font-size: 15px;color: gray; font-weight: 600;">Member</span>
                        <br>
                        <a href="" class="" style="color: #194979;">
                            <i class="bi bi-linkedin"></i> </a>
                    </p>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id voluptatibus quam accusantium
                    saepe laboriosam fugiat animi magnam, amet ratione nostrum, ab vero sapiente aspernatur
                    autem quod modi? Quam, similique facilis!

                </div>

            </div>
            <div class="row" style="margin-bottom: 40px; margin-top: 40px;">

                <div class="col-lg-3">
                    <center>
                        <img src="/images/arpit.jpg" alt="" style="border-radius: 50%; display: block; height: 200px">
                    </center>
                </div>
                <div class="col-lg-9">
                    <p><b style="font-size: larger; color: #194979;">Arpit Jain</b>
                        <br>
                        <span style="font-size: 15px;color: gray; font-weight: 600;">Member</span>
                        <br>
                        <a href="" class="" style="color: #194979;">
                            <i class="bi bi-linkedin"></i> </a>
                    </p>

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id voluptatibus quam accusantium
                    saepe laboriosam fugiat animi magnam, amet ratione nostrum, ab vero sapiente aspernatur
                    autem quod modi? Quam, similique facilis!

                </div>

            </div>
        </div>

    </section>
</section>